.PromoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200rpx;
  height: 326rpx;
  background-color: #fff;
  border-radius: 16rpx;
  overflow: hidden;
}

.ImageContainer {
  position: relative;
  width: 180rpx;
  height: 180rpx;
  margin-top: 10rpx;
}

.PromoHeadImage {
  width: 100%;
  height: 100%;
  border-radius: 8rpx;
}

.PromoImage {
  width: 180rpx;
  height: 100%;
  margin-top: 10rpx;
  border-radius: 8rpx;
}

.StoreLabel {
  position: absolute;
  top: 10rpx;
  left: 10rpx;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5rpx;
  padding: 4rpx 8rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StoreLabelText {
  color: #fff;
  font-size: 16rpx;
  line-height: 1;
}

/* Info Section */
.PromoInfo {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 12rpx;
  box-sizing: border-box;
  justify-content: flex-start;
}

.PromoTitle {
  font-size: 22rpx;
  color: #333;
  margin-bottom: 8rpx;
  line-height: 32rpx;
  
  /* Multi-line ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
}

.PromoPrice {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: auto; 
  flex-wrap: wrap;
}

.Currency {
  font-size: 16rpx;
  color: #FF4B4B;
  font-weight: bold;
}

.Price {
  font-size: 24rpx;
  color: #FF4B4B;
  font-weight: bold;
  line-height: 1;
  margin-right: 4rpx;
}

.OldPrice {
  font-size: 16rpx;
  color: #999;
  text-decoration: line-through;
  margin-right: 4rpx;
}

.LabelTag {
  background-color: #FFECEC;
  border-radius: 4rpx;
  padding: 0 4rpx;
  display: flex;
  align-items: center;
  height: 20rpx;
}

.LabelText {
  font-size: 14rpx;
  color: #FF4B4B;
  line-height: 1;
}
