
.App {
  /* 1. Positioning */
  position: relative;
  
  /* 2. Box Model (Display, Size, Margin, Padding) */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750rpx;
  min-height: 100vh;
  
  /* 3. Visual */
  background-color: #f5f5f5;
}

.PromoteProduct {
  /* 1. Positioning (None here) */
  
  /* 2. Box Model */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150rpx;

  /* 3. Visual */
  background-color: pink;
}

.Scroll {
  width: 750rpx;
  height: 350rpx;
  display: flex;
  flex-direction: row;
  margin-top: 20rpx;
}

.PromoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20rpx;
  width: 200rpx;
  height: 320rpx;
  background-color: #fff;
  border-radius: 10rpx;
}

.PromoImage {
  width: 180rpx;
  height: 250rpx;
  margin-top: 10rpx;
  border-radius: 8rpx;
}

