
.App {
  /* 1. Positioning */
  position: relative;
  
  /* 2. Box Model (Display, Size, Margin, Padding) */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750rpx;
  min-height: 100vh;
  
  /* 3. Visual */
  background-color: #f5f5f5;
}



