.PromoteProduct {
  /* 1. Positioning (None here) */
  
  /* 2. Box Model */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150rpx;

  /* 3. Visual */
  background-color: #F5F5F5;
}
